@import 'tailwindcss';

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.pb-section {
    padding-bottom: 250px;
}

@media (min-width: 1148px) {
    .container {
        max-width: 1148px;
    }
}

@media (min-width: 640px) {
    .sm\:grid-cols-12 {
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }
}

@media not all and (min-width: 768px) {
    .max-md\:pb-10 {
        padding-bottom: 2.5rem;
    }
    .max-md\:flex-col {
        flex-direction: column;
    }
}

@layer utilities {
    .hide-scrollbar {
        scrollbar-width: none;
    }
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
}

@keyframes twinkle {
    0% {
        opacity: 0.3;
        transform: translateY(0px) scale(1);
    }
    100% {
        opacity: 1;
        transform: translateY(-2px) scale(1.2);
    }
}

.twinkle-move {
    animation: twinkle 1.5s infinite alternate ease-in-out;
}
